__pycache__
*.sqlite3
*.code-workspace
.vscode
.DS_Store
*.bkp
*_log
media/.$API infographic.drawio.bkp
media/.$API infographic.drawio.bkp
media/.$Samenhang_rules-modulen.drawio.dtmp
media/.$API infographic.drawio.bkp
media/.$API infographic.drawio.bkp
media/.$Samenhang_rules-modulen.drawio.dtmp
*.dtmp
*.bkp
*.dtmp
